{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">

    {% if user.is_authenticated %}
    <div class="sentence-form">
      {% if request.user == book.player_name %}
      <p>Enter the real sentence for {{book.title}}</p>
      {% else %}
      <p>Make up a sentence for {{book.title}}</p>
      {% endif %}
      <form method="post">
          {% csrf_token %}
          {{ form }}
          <button type="submit" class="btn btn-success">Save</button>
      </form>

    </div>
    {% endif %}

    <div id="sentencelist">
      {% for sentence in sentences %}
      <p class="list-group-item list-group-item-success">{{ sentence.sentence }}</p>
      {% endfor %}
    </div>
</div>
    <script>
    document.addEventListener('DOMContentLoaded',
      function() {
      const webSocketBridge = new channels.WebSocketBridge();
      const nl = document.querySelector("#sentencelist");

      webSocketBridge.connect('/sentences/');
      webSocketBridge.listen(function(action, stream) {
        console.log("RESPONSE:", action);

        if(action.event == "New Sentence") {
          var el = document.createElement("p");

          el.innerHTML = action.sentence_name;

          nl.appendChild(el);

        }
      })
      document.ws = webSocketBridge; /* for debugging */
    })
    </script>
{% endblock %}
