#booklist {
    margin-top: 25px;
}

.new-bookform,
.sentence-form {
    margin: 20px 0;
}

a.added-book {
    margin-bottom: 10px;
}

label[for="id_sentence"] {
    display: none;
}

.row {
    margin-top: 25px;
}

button {
    margin: 15px 0;
}
